# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Lab2.class
/bookstore.class
/Lab6.class
/Lab7.class
/lab8.class
/testarr.class
/MakeSound.class
/lab9.class
/Scientist.class
/Question.class
/Quiz.class
/Voter.class
/Voter$ButtonListener.class
/Voter$loginListener.class
/Voter$voteListener.class
/Voter$option1Listener.class
/Voter$option2Listener.class
/Voter$1.class
/Voter$2.class
/Voter$10.class
/Voter$3.class
/Voter$4.class
/Voter$5.class
/Voter$6.class
/Voter$7.class
/Voter$8.class
/Voter$9.class
/Ballot.class
/Lab12.class
/NoogieException.class
/CoogieException.class
